bcrypt==3.2.0
cffi==1.14.5
cryptography==3.4.6
dbus-python==1.2.16
decorator==4.4.2
distro==1.5.0
libcomps==0.1.15
nftables==0.1
paramiko==2.7.2
pycairo==1.18.2
pycparser==2.20
PyGObject==3.38.0
PyNaCl==1.4.0
python-dateutil==2.8.1
PyYAML==5.4.1
rpm==4.16.0
selinux==3.1
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
